<div class="user-list-container">
  <div class="header-row">
    <h2>Users</h2>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon> Add User
    </button>
  </div>

  <app-user-filter
    [initialFilter]="filter"
    (filterChange)="onFilterChange($event)"
  >
  </app-user-filter>

  <div *ngIf="!loading && users.length === 0">
    No users found or data not loaded. Check console.
  </div>

  <div *ngIf="!loading" class="user-count-info">
    <span>Showing {{ users.length }} of {{ totalUsers }} users</span>
    <span
      *ngIf="
        filter.searchTerm || filter.status !== 'all' || filter.gender !== 'all'
      "
    >
      (filtered results)
    </span>
  </div>

  <app-user-table
    [users]="users"
    [loading]="loading"
    [pageSize]="pageSize"
    (viewUser)="viewUserDetails($event)"
    (editUser)="editUser($event)"
    (deleteUser)="deleteUser($event)"
  >
  </app-user-table>

  <mat-paginator
    [length]="totalUsers"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
